$color-blue: #6496e1;
$color-deep-blue: #5283da;
$color-orange: #ff9900;
$color-deep-orange: #ff6600;
$color-text: #f2f2f2;
$color-text-hover: #fff;
$color-white: #fff;
$color-red: #f00;
$color-yellow: #ffff99;